 <!--=====================================
Home Features
======================================-->  

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Entrega gratuita</h4>
                    <p>Para las compras superiores a $150.000</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>90 días para devolución</h4>
                    <p>Si los productos tienen algún defecto</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Pago seguro</h4>
                    <p>100% de pago seguro</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>Atención 24/7</h4>
                    <p>Atención dedicada</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
