<!--=====================================
	Footer
	======================================-->

<footer class="ps-footer">

    <div class="container">

        <div class="ps-footer__widgets">

            <!--=====================================
				Contact us
				======================================-->

            <aside class="widget widget_footer widget_contact-us">

                <h4 class="widget-title">Contact us</h4>

                <div class="widget_content">

                    <p>Llamanos 24/7</p>
                    <h3>1800 97 97 69</h3>
                    <p>Bógota, Colombia <br>
                        <a href="mailto:contact@marketplace.co">contacto@correo.com</a>
                    </p>

                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>

                </div>

            </aside>

            <!--=====================================
				Quick Links
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Vínculos</h4>

                <ul class="ps-list--link">

                    <li><a href="#">Politicas</a></li>

                    <li><a href="#">Términos &amp; Condiciones</a></li>

                    <li><a href="#">Envíos</a></li>

                    <li><a href="#">Devoluciones</a></li>

                    <li><a href="faqs.html">FAQs</a></li>

                </ul>

            </aside>

            <!--=====================================
				Company
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Compañia</h4>

                <ul class="ps-list--link">

                    <li><a href="about-us.html">Acerca de Nosotrs</a></li>

                    <li><a href="#">Afiliación</a></li>

                    <li><a href="#">Trabaja con nosotros</a></li>

                    <li><a href="contact-us.html">Contáctanos</a></li>

                </ul>

            </aside>

            <!--=====================================
				Bussiness
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Negocio</h4>

                <ul class="ps-list--link">

                    <li><a href="#">Noticias </a></li>

                    <li><a href="checkout.html">Revisión</a></li>

                    <li><a href="my-account.html">Mi Cuenta</a></li>

                    <li><a href="shop-default.html">Tienda</a></li>

                </ul>

            </aside>

        </div>

        <!--=====================================
			Categories Footer
			======================================-->

        <div class="ps-footer__links">

            <p *ngFor="let category of categories; let lastIndex = last">
                <strong [attr.category-footer]="category.id">{{category.name}}</strong>

                {{ lastIndex ? callback() : ""}}

            </p>

        </div>

        <!--=====================================
			CopyRight - Payment method Footer
			======================================-->

        <div class="ps-footer__copyright">

            <p>© 2020 MarketPlace. Todos los derechos reservados</p>

            <p>
                <span>Ofrecemos pago seguro a través de:</span>

                <a href="#">
                    <img src="{{path}}img/payment-method/1.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{path}}img/payment-method/2.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{path}}img/payment-method/3.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{path}}img/payment-method/4.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{path}}img/payment-method/5.jpg" alt="">
                </a>

            </p>

        </div>

    </div>

</footer>